<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomNotifiUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Remote ios 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mytest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>905329A31DC983190040D9DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D4E9DE1D9B63AF00FEB664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F400F91D9378360087588F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F401121D9378360087588F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F4011D1D9378360087588F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
